# Dependencias
node_modules/
.pnpm-store/

# Carpetas de compilación de Astro
dist/
.astro/

# Variables de entorno y secretos (¡Súper importante proteger esto!)
.env
.env.production
.env.local
.env.*.local

# Logs de errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Configuraciones del editor de código
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?