<section class="about py-5" id="about">
  <div class="content">
    <h1 class="text-light fw-bold mb-3">
      Juan Pablo Yepes Herrera
    </h1>

    <p class="role text-light mb-2">
      Desarrollador Backend | .NET & C#
    </p>

    <p class="motto text-secondary fst-italic mb-4">
      "En mi máquina funciona."
    </p>

    <p class="description text-light">
      +1 año de experiencia como desarrollador Backend, con conocimientos
      en Frontend, creando soluciones de software y aplicaciones web en Bogotá,
      Colombia.
    </p>
  </div>
</section>

<style>
.about{
    padding:6rem 0;
}

.content{
    max-width:850px;
    padding-left: 20px;
}

.role{
    font-size:1.2rem;
    font-weight:600;
}

.description{
    margin-top:1.5rem;
    line-height:1.8;
    color:#d1d5db;
}
</style>